<%- include('../partials/homeHeader.ejs') %>



<body>
    

   

<% if(data) {%>
<div class="profile--area">

    <div class="profile-info">
        <div class="img "><img src="/img/user-profile-icon-in-flat-style-member-avatar-illustration-on-isolated-background-human-permission-sign-business-concept-vector-removebg-preview.png" alt=""></div>
        <div class="info">
            <h1>Name: <%= data.name %> </h1>
            <h1>Email: <%= data.email %></h1>
            <h1>Age: <%= data.age %></h1>
        </div>

        <div class="score_user">
            <h1>Pontuação  atual de <%= data.score %> pontos</h1>
        </div>
    </div>




</div>

<%} %> 


</body>